@media (max-width: 767px) {
  footer .foo {
    font-size: 14px; /* Adjust the font size */
    padding: 10px;   /* Adjust the padding */
  }
}
body{
    background-color: gainsboro;
}
.custom_nav{
    background-color:rgb(40, 40, 87);
   /* padding-left: 140px;
   padding-right: 100px; */
   position:fixed;
   width: 100%;
   z-index:1;
   margin: auto;
   
  }
  .custom_nav li:hover{
    background-color: wheat;
    
  }
  .custom_nav a:hover{
    background-color: wheat;
    
  }
  .navbar1 .navbar-nav .nav-link:hover {
    color:black;
}
  .navbar1 .navbar-nav .nav-item.active .nav-link:hover {
    color: black;
  }
  .navbar1 .navbar-brand:hover {
    color: black;
  }
  #home{
  
    height:50vh;
    width: 100vw;
   
  }
  #home img{
    height: 50vh;
    width: 100vw;
    
  }
  .shopping_cards{
    width:90vw;
    /* height: 130vh;   remove height so that footer donot overlap in small devices */
    margin: 10px auto;
    
  }
  .card{
    margin: 10px auto;
   
  }
  /* .card-body{
    height:30vh;
  
  } */
  .card img{
    height:200px;
    
  }
  footer{
    background-color: rgb(18, 18, 51);
    color: white;
    margin: 10px auto;
    display: flex;
    justify-content: center;
  }
