
.custom_nav{
    background-color:rgb(40, 40, 87);
   /* padding-left: 140px;
   padding-right: 100px; */
   position:fixed;
   width: 100%;
   z-index:1;
   margin: auto;
   
  }
  .custom_nav li:hover{
    background-color: wheat;
    
  }
  .custom_nav a:hover{
    background-color: wheat;
    
  }
  .navbar1 .navbar-nav .nav-link:hover {
    color:black;
}
  .navbar1 .navbar-nav .nav-item.active .nav-link:hover {
    color: black;
  }
  .navbar1 .navbar-brand:hover {
    color: black;
  }
  .s1{
    
    padding-left: 10px;
    height:15vh;
    width: 100vw;
    background-color: white;
    display: flex;
    align-items: center;
    
  }
  .s2{
    height:10vh;
    width: 10vw;
  }
  .s2 img{
    height: 500px;
    width: 1000px;
  }