body{
    background-color: black;
}
.custom_nav{
    background-color:black;
   /* padding-left: 140px;
   padding-right: 100px; */
   position:fixed;
   width: 100%;
   z-index:1;
   margin: auto;
   
  }
  
 
  .navbar1 .navbar-nav .nav-link:hover {
    color:black;
}
  .navbar1 .navbar-nav .nav-item.active .nav-link:hover {
    color: black;
  }
  .navbar1 .navbar-brand:hover {
    color: black;
  }
  .top10{
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    
  }
 .images img{
    
    height:200px;
    width: 320px;
  }